.alert {
    position: fixed;
    width: 25%;
    padding: 10px 0px 0px 45px;
    height: 68px;
    right: 12px;
}

.alert .close{
    right: 0px !important;
    top: 16px;
    font-size: 14px;
    position: absolute;
}

.alert .alert-icon{
    left: 16px !important;
    top: 10px;
    font-size: 25px;
    position: absolute;
}

.alert-title{
    font-size: 13px;
    display: block;
}

.alert-message{
    font-size: 12px;
    display: block;
}