<section class="content">
  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <button class="btn bg-navy btn-flat roundbtn margin" type="button">
       7 Trip
        <div class="ripple-container"></div>
      </button>
      <button class="btn bg-aqua btn-flat roundbtn margin" type="button">
        3 Bookings
        <div class="ripple-container"></div>
      </button>
      <button class="btn bg-orange btn-flat roundbtn margin" type="button">
        3 Traveler
        <div class="ripple-container"></div>
      </button>
      <button class="btn bg-red btn-flat roundbtn margin" type="button">
        2 Documents
        <div class="ripple-container"></div>
      </button>
      <button class="btn bg-gray btn-flat roundbtn margin" type="button">
        2 Note
        <div class="ripple-container"></div>
      </button>
      <button class="btn bg-green btn-flat roundbtn margin" type="button">
        2 Payments
        <div class="ripple-container"></div>
      </button>
    </div>
    <div class="box-body chat" id="chat-box" style="overflow: hidden; width: auto;">
      <div class="col-md-12">

        <div class="item">
          <img src="/assets/public/dist/img/user-160x160.jpg" alt="user image" class="offline">

          <p class="message attachment1 ">
            <a href="#" class="name">
              Ada Techi <small class="text-muted"> Cool Destination</small> 
            </a>
            <span class="bluetxt">Stephen@travelsolution.com</span>
          </p>
        </div>
      </div>
    </div>
      <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
          <!-- timeline time label -->
          <li class="time-label">
            <span class="bg-red">
              10 Feb. 2018
            </span>
          </li>

          <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-red"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-green"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-red"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li class="time-label">
            <span class="bg-green">
              7 Feb. 2018
            </span>
          </li>

          <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-red"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-green"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-red"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>
          <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
              <h3 class="timeline-header no-border"><a href="#">Ada Techi</a> A Note was Added. (#24007)</h3>
            </div>
          </li>

        </ul>
      </div>
    </div>
</section>
