<div class="col-md-12">
    <div class="col-md-12 no-padding">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Trips</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool bg-blue pull-right" title="">
                        <i class="fa fa-refresh" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
                        <div class="ripple-container"></div>
                    </button>
                    <button type="button" class="btn btn-box-tool bg-blue pull-right" title="" data-toggle="modal" data-target="#addrelationship">
                        <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add Trip"></i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                        <tr class="bg-white  box-success">
                            <th>Agent</th>
                            <th>Lead Guest</th>
                            <th>Category</th>
                            <th>Start Date</th>
                            <th> End Date</th>
                            <th>Primary Trip</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group form-group-sm search is-empty"><input class="form-control" type="text" placeholder="Agent"></div>
                            </td>
                            <td>
                                <div class="form-group form-group-sm search is-empty"><input class="form-control" type="text" placeholder="Lead Guest"></div>
                            </td>
                            <td>
                                <div class="form-group form-group-sm search is-empty"><input class="form-control" type="text" placeholder="Category"></div>
                            </td>
                            <td>
                                <div class="form-group form-group-sm search is-empty"><input class="form-control" type="text" placeholder="Start Date"></div>
                            </td>
                            <td>
                                <div class="form-group form-group-sm search is-empty"><input class="form-control" type="text" placeholder="End Date"></div>
                            </td>
                            <td>
                                <div class="form-group form-group-sm search is-empty"><input class="form-control" type="text" placeholder="Primary Trip"></div>
                            </td>

                            <td></td>
                        </tr>
                        <tr>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>
                                <a> <i class="material-icons blueicon" data-toggle="tooltip" data-placement="top" title="Edit">mode_edit</i></a>
                                <a> <i class="material-icons delete" data-toggle="tooltip" data-placement="top" title="Delete">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>
                                <a> <i class="material-icons blueicon" data-toggle="tooltip" data-placement="top" title="Edit">mode_edit</i></a>
                                <a> <i class="material-icons delete" data-toggle="tooltip" data-placement="top" title="Delete">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>Demo Data</td>
                            <td>
                                <a> <i class="material-icons blueicon" data-toggle="tooltip" data-placement="top" title="Edit">mode_edit</i></a>
                                <a> <i class="material-icons delete" data-toggle="tooltip" data-placement="top" title="Delete">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
