.dropdown-menu{
    left: -100px;
}

.dropdown-menu li{
    margin: 15px 10px;
}

#dropzone {
    position: relative;
    border: 1px dashed rgb(36, 40, 221);
    border-radius: 5px;
    color: rgb(59, 60, 141);
    font: bold 18px/75px arial;
    height: 150px;
    margin: 10px auto;
    text-align: center;
    width: 550px;
  }
  
  #dropzone.hover {
    border: 10px solid #FE5;
    color: #FE5;
  }
  
  #dropzone.dropped {
    background: #222;
    border: 10px solid #444;
  }
  
  #dropzone div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  #dropzone img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
  }
  
  #dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.pagination{
    margin: 0px;
    padding: 10px 14px 14px;
}
