<div class="wrapper1">
    <header class="main-header" *ngIf="currentUser">
        <a href="index2.html" class="logo">
            <span class="logo-mini"><img src="/assets/public/dist/img/logo.png"></span>
            <span class="logo-lg"><img src="/assets/public/dist/img/logo.png"> Cupcakes CRM</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </li>
                    
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may
                                            not fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/public/dist/img/user-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs"> <i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/assets/public/dist/img/user-160x160.jpg" class="img-circle" alt="User Image">
                                <p *ngIf="currentUser">
                                    {{currentUser.user.firstName}} {{currentUser.user.lastName}}
                                    <br> <small>{{currentUser.user.roleName}} ({{currentUser.user.email}})</small>
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <button type="button" class="btn bg-olive margin" (click)="logout()">
                                        My Account
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-block btn-primary" (click)="logout()">
                                        Sign Out
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <app-sidebar *ngIf="currentUser"></app-sidebar>
    <div class="container alert-container">
        <div class="col-sm-5 col-xs-5 pull-right">
            <alert></alert>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>