<div class="content-wrapper" *ngIf="currentUser">
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a href="javascript:void(0)">Workspace</a></li>
      <li><a href="javascript:void(0)">Properties</a></li>
      <li class="active"><a ><i class="fa fa-circle-o"></i> Property</a></li>
    </ol>
    <h1>
      <i class="fa">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 297.666 297.666" style="enable-background:new 0 0 297.666 297.666;" xml:space="preserve">
        <g>
        <path d="M276.783,119.911c1.685-1.725,2.427-4.017,2.246-6.245h0.09C270.389,49.563,215.295,0,148.834,0
                            C82.575,0,27.615,49.26,18.629,113.079c-0.014,0.099-0.032,0.197-0.042,0.296c-0.013,0.098-0.027,0.194-0.04,0.291h0.023
                            c-0.141,2.188,0.606,4.423,2.26,6.112l90.027,91.888H90.333c-13.808,0-25.333,11.193-25.333,25v36c0,13.807,11.525,25,25.333,25
                            h116c13.808,0,24.667-11.193,24.667-25v-36c0-13.807-10.859-25-24.667-25h-19.258L276.783,119.911z M165.945,210.39l31.14-104.235
                            c6.882-9.863,18.306-16.321,31.245-16.321c15.137,0,28.207,8.829,34.349,21.616L165.945,210.39z M116.982,107.045
                            c6.806-10.363,18.525-17.212,31.852-17.212c13.073,0,24.605,6.59,31.462,16.626l-31.384,105.052L116.982,107.045z M34.576,110.945
                            c6.241-12.513,19.158-21.112,34.094-21.112c13.01,0,24.49,6.527,31.359,16.481l31.734,103.827L34.576,110.945z M173,246.666v16h-17
                            v17h-16v-17h-17v-16h17v-17h16v17H173z" />

                        </g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
                    </svg>
      </i>
      Property
      <small class="label">Property name</small>
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <section class="col-lg-12">
        <div class="col-md-12 no-padding">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1default" data-toggle="tab">Property Information</a></li>
              <li><a href="#tab2default" data-toggle="tab">Images and Amenities</a></li>
              <li><a href="#tab3default" data-toggle="tab">Map</a></li>
              <li><a href="#tab4default" data-toggle="tab">Trips <span class="badge bg-purple">5</span></a></li>
            </ul>
          </div>
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                  <div class="col-md-6">
                    <div class="col-md-12 no-padding ">
                      <div class="box box-primary">
                        <div class="box-header with-border">
                          <h3 class="box-title">Property Information</h3>
                          <div class="box-tools">
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="">
                              <i class="fa fa-refresh" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </div>
                        <form role="form">
                          <div class="box-body top20">
                           
                          </div>
                         
                        </form>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12 no-padding">
                      <div class="box">
                        <div class="box-header">
                          <h3 class="box-title">Room Categories</h3>
                          <div class="box-tools">
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="">
                              <i class="fa fa-refresh" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </div>
                        <div class="box-body no-padding">
                          <div class="col-xs-5 materialSelect inline empty">
                            <ul class="select">
                              <li data-selected="true">Choose something...</li>
                              <li data-value="0">First option</li>
                              <li data-value="1">Second option</li>
                              <li data-value="2">Third option</li>
                            </ul>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="tab-pane fade" id="tab2default">
                  <div class="col-md-6">
                    <div class="col-md-12 no-padding">
                      <div class="box">
                        <div class="box-header">
                          <h3 class="box-title">Images and Amenities</h3>
                          <div class="box-tools">
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="">
                              <i class="fa fa-refresh" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
                              <div class="ripple-container"></div>
                            </button>
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="" data-toggle="modal" data-target="#addrelationship">
                              <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add Relatives"></i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </div>
                        <div class="box-body no-padding">
                          
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12 no-padding">
                      <div class="box">
                        <div class="box-header">
                          <h3 class="box-title">Spending Habits</h3>
                          <div class="box-tools">
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="">
                              <i class="fa fa-refresh" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
                              <div class="ripple-container"></div>
                            </button>
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="">
                              <i class="fa fa-calendar" data-toggle="tooltip" data-placement="top" title="Select Year"></i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </div>
                        <div class="box-body no-padding">
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab3default">
                  <div class="col-md-12">
                    <div class="col-md-12 no-padding">
                      <div class="box">
                        <div class="box-header">
                          <h3 class="box-title">Trips</h3>
                          <div class="box-tools">
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="">
                              <i class="fa fa-refresh" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
                              <div class="ripple-container"></div>
                            </button>
                            <button type="button" class="btn btn-box-tool bg-blue pull-right" title="" data-toggle="modal" data-target="#addrelationship">
                              <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add Trip"></i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </div>
                        <div class="box-body no-padding">
                          
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="tab4default">Default 4</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>


